name: C/C++ CI

on: [push]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Build & Test
      run: |
        cmake -E remove_directory build
        cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-Werror -O2 -fsanitize=address,undefined"
        cmake --build build
        cd build
        ctest --output-on-failure
        
  build-windows:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, windows-2016]
    
    steps:
    - uses: actions/checkout@v1
    - name: Build & Test
      run: | 
        cmake -E remove_directory build
        cmake -B build -S .
        cmake --build build --config Debug
        cd build
        ctest --output-on-failure

  build-macos:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Test
      run: |
        cmake -E remove_directory build
        cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-Werror -O2 -fsanitize=address,undefined"
        cmake --build build
        cd build
        ctest --output-on-failure